<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.id_qr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".beforeStart.FireBaseStart"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.ID_QR.NoActionBar"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".ui.secundary.AgregarPagos"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:parentActivityName=".ui.primary.Principal">
<!--            <meta-data-->
<!--                android:name="android.support.PARENT_ACTIVITY"-->
<!--                android:value=".ui.Principal"/>-->
        </activity>
        <activity
            android:name=".ui.primary.Principal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.RecoverPassword"
            android:noHistory="true"
            android:parentActivityName=".login.LoginMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginMain"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>